.img-info {
	width: 40%;
}

@media only screen and (min-width:576px) {
	.img-info {
		width: 25%;
	}
}

@media only screen and (min-width:768px) {
	.img-info {
		width: 20%;
	}
}

@media only screen and (min-width:992px) {
	.img-info {
		width: 20%;
	}
}

@media only screen and (min-width:1200px) {
	.img-info {
		width: 18%;
	}
}

.asterisque {
	font-size: 14px;
	font-style: italic;
}

.caphead{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
