{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Crédits</title>
{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" >
	<div class="slide">
		<img class="img-fluid" src="{% static 'showcase/img/header-credits-min.jpg' %}" alt=""></img>
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 banner-text-block site-heading">
					<!-- <div class="site-heading"> -->
						<h1>Merci</h1>
						<span class="subheading">À ceux qui éclairent la route (longue, mais libre)</span>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p>
					Images sous <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">licence CC0</a> de <a href="https://stocksnap.io/">StockSnap</a> :
					<ul>
						<li><a href="https://stocksnap.io/photo/TDNJ1H4VYN">https://stocksnap.io/photo/TDNJ1H4VYN</a>, une photo de <a href="https://stocksnap.io/author/dahlhousedesign">Dahl House Design</a></li>
						<li><a href="https://stocksnap.io/photo/KWRZNZ6DC6">https://stocksnap.io/photo/KWRZNZ6DC6</a>, une photo de <a href="https://stocksnap.io/author/dahlhousedesign">Dahl House Design</a></li>
						<li><a href="https://stocksnap.io/photo/VCJK4NBK4W">https://stocksnap.io/photo/VCJK4NBK4W</a>, une photo de <a href="https://stocksnap.io/author/jeswin">Jeswin</a></li>
						<li><a href="https://stocksnap.io/photo/EGXWIV409M">https://stocksnap.io/photo/EGXWIV409M</a>, une photo de <a href="https://stocksnap.io/author/55811">Medhat Ayad</a></li>
						<li><a href="https://stocksnap.io/photo/81EG7NOR4G">https://stocksnap.io/photo/81EG7NOR4G</a>, une photo de <a href="https://stocksnap.io/author/34629">Michal Jarmoluk</a></li>
						<li><a href="https://stocksnap.io/photo/AUVDUG2IVM">https://stocksnap.io/photo/AUVDUG2IVM</a>, une photo de <a href="https://stocksnap.io/author/30771">Torsten Dettlaff</a></li>
						<li><a href="https://stocksnap.io/photo/U6EC9LXPX4">https://stocksnap.io/photo/U6EC9LXPX4</a>, une photo de <a href="https://stocksnap.io/author/51766">Brian Babb</a></li>
					</ul>
				</p>
				<p>
					Image sous <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">licence CC0</a> de <a href="https://free-images.com/">Free Images</a> :
					<ul>
						<li><a href="https://free-images.com/display/houses_wood_wooden_house.html">https://free-images.com/display/houses_wood_wooden_house.html</a></li>
					</ul>
				</p>
				<p>
					Image sous <a href="https://unsplash.com/license">licence Unsplash</a> de <a href="https://unsplash.com/">Unsplash</a> :
					<ul>
						<li><a href="https://unsplash.com/photos/46juD4zY1XA">https://unsplash.com/photos/46juD4zY1XA</a> photo by <a href="https://unsplash.com/@davidpisnoy">David Pisnoy</a></li>
					</ul>
				</p>
				<p>
					Template HTML sous <a href="https://opensource.org/licenses/mit-license.php">licence MIT</a> de <a href="https://startbootstrap.com/">StartBoostrap</a>:
					<ul>
						<li><a href="https://startbootstrap.com/themes/clean-blog/">Clean Blog</a></li>
					</ul>
				</p>
				<p>
					Le <a href="https://cdn.mapmarker.io/api/v1/pin?icon=fa-circle&size=40&iconSize=8&hoffset=1">marqueur</a> sur la carte openstreetmap a été généré avec <a href="mapmarker.io">mapmarker.io</a>
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}
