{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Accueil</title>
{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" >
	{% for slide in slider %}
	<div class="slide">
		<img class="img-fluid" src="{{ slide.header_image.url }}" alt=""></img>
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 banner-text-block site-heading">
					<!-- <div class="site-heading"> -->
						<h1>{{ slide.image_caption }}</h1>
						<span class="subheading">{{ slide.image_subcaption }}</span>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% for subpage in subpages %}
	<div class="slide">
		<img class="img-fluid" src="{{ subpage.header_image.url }}" alt=""></img>
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 banner-text-block site-heading">
					<!-- <div class="site-heading"> -->
						<h1>{{ subpage.image_caption }}</h1>
						<span class="subheading">{{ subpage.image_subcaption }}</span>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</header>
{% endblock %}

{% block content %}
<!-- Main Content -->
<section class="main-content">

	<section id="topSection" class="highlight">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-preview">
						<h2>Pour réaliser un bon diagnostic :</h2>
						<p>Lorsqu’un client fait appel à un diagnostiqueur immobilier pour une prestation concernant son bien, il est nécessaire de définir précisément les diagnostics à réaliser pour répondre le mieux possible à ses besoins et attentes mais également à ses obligations.</p>
						<p>Pour ce faire un certain nombre de renseignements doivent être recueillis auprès du client au moment même de la consultation permettant d’en apprendre davantage sur le bien concerné.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-preview">
					<h2>Les obligations de Compétence et Certification</h2>
					<p>Un diagnostiqueur doit présenter des compétences certifiées dans le domaine du bâtiment et dans l’aptitude à établir les différents diagnostics pour lesquels il a été missionné. Ces compétences sont délivrées pour une durée de 5 ans par un organisme de certification accrédité par le COFRAC (comité français d’accréditation). Cette certification est personnelle, elle s’obtient après avoir réussi des épreuves théoriques et pratiques. L’organisme de certification exerce ensuite un suivi des compétences mises en œuvre par l’étude des rapports produits par les diagnostiqueurs et par un audit sur ouvrage. L’attestation de certification est à joindre dans chaque dossier, elle est <strong>indispensable pour exercer</strong>.
					De plus, chaque diagnostiqueur doit toujours être en mesure de présenter sa carte professionnelle.</p>
				<p>Une attention particulière doit être portée sur la qualité des relations avec la clientèle et les donneurs d’ordre. Une approche pédagogique et adaptée à la situation doit toujours être privilégiée pour commenter les actes à réaliser et les résultats des diagnostics. Il faut également veiller à détenir l’ensemble de la documentation et les logiciels à jour agréés par l’ADEME pour le DPE. Enfin, elle doit être équipée des moyens adaptés pour la réalisation des diagnostics.</p>
				</div>
				<div class="post-preview">
					<h2>Obligation d’assurance</h2>
					<p>Le diagnostiqueur doit, pour exercer, souscrire une assurance en responsabilité civile professionnelle. Cette couverture a pour objet de protéger et de couvrir le diagnostiqueur <strong>et sa clientèle</strong> des éventuelles erreurs ou malfaçons dans la réalisation des diagnostics immobiliers.</p>
				</div>
				<div class="post-preview">
					<h2>Obligation d’indépendance et d’impartialité</h2>
					<p>La loi précise que les diagnostiqueurs ne doivent avoir aucun lien de nature à porter atteinte à leur impartialité et à leur indépendance, ni avec le propriétaire ou son mandataire ni avec une entreprise pouvant réaliser des travaux sur les ouvrages, installations ou équipements pour lesquels il leur est demandé d’établir l’un des documents mentionnés faisant partie du dossier de diagnostic technique.</p>
					<p>	Aussi, les pratiques de commissionnement avec les professionnels pratiquant l’entremise et la gestion immobilière ainsi qu’avec les entreprises de travaux sont désormais interdites.</p>
				</div>
			</div>
		</div>
	</div>

	<section class="highlight">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-preview">
						<p>
							<strong>SASU-DIAG-IMMO77</strong> possède <strong>toutes les garanties requises</strong> pour vous satisfaire.
						</p>
						<p>Elle reste à votre disposition pour toutes les questions administratives, techniques et financières pour vous adresser une offre adaptée à vos besoins, comme parfaitement en phase avec vos impératifs de délai.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="diagnostics">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-12">
					<p class="text-center">Nous sommes habilité pour les diagnostics suivants :</p>
				</div>
			</div>
			<div class="row">
                {% for subpage in subpages %}
                    {% if subpage.menu_id == 'diagnostiques' %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        					<a href="{% url 'showcase:subpage' slug=subpage.slug %}">
        						<div class="diagnostic-item text-center">
        							<img class="img-fluid diagnostic-item-img" src="{{ subpage.menu_logo.url }}" alt="{{ subpage.title }}">
        						</div>
        					</a>
        				</div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
	</section>
</section>
{% endblock %}

{% block additional_script %}
	<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
