{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{content.image_caption}}</title>
{% endblock %}

{% block header %}
<header class="masthead" >
  <div class="slide">
    <img class="img-fluid" src="{{ content.header_image.url }}" alt=""></img>
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 banner-text-block site-heading">
            <h1>{{content.image_caption}}</h1>
            <span class="subheading">{{content.image_subcaption}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{content.content|safe}}
      </div>
    </div>
      {% if content.html_content %}
        <div class="row">
          {% include 'showcase/'|add:content.html_content|add:'.html' %}
        </div>
      {% endif %}
  </div>
</article>
{% endblock %}
