{% extends 'contact/contact.html' %}
{% load static %}

{% block title %}
	<title>Contact Page – Confirmation</title>
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p class="alert alert-success">Votre message a été transmis avec succès. Merci de votre intérêt !</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p><a href="{% url 'showcase:home' %}">Retour à la page d’accueil</a></p>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_script %}
{% endblock %}
