{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Contact Page</title>
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
	<link rel="stylesheet" href="{% static 'openlayers/css/ol.css' %}">
	<link rel="stylesheet" href="{% static 'contact/css/openstreetmap_insert.css' %}">
    <script src="{% static 'contact/js/librecaptcha.js'%}" async defer></script>
{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" >
	<div class="slide">
		<img class="img-fluid" src="{% static 'contact/img/header-contact.jpg' %}" alt=""></img>
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 banner-text-block site-heading">
					<!-- <div class="site-heading"> -->
						<h1>Prenons contact</h1>
						<!-- <span class="subheading">A First Slide</span> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p>Vous avez des questions ? Vous souhaiteriez un devis ?</p>
        <p>Vous pouvez nous contacter par : </p>
        <p>Tél. mobile : <img class="img-fluid img-info" src="{% static 'contact/img/view.png' %}" alt="info"></img></p>
        <p>Tél. fixe : <img class="img-fluid img-info" src="{% static 'contact/img/numfixe.png' %}" alt="numfixe"></img></p>
        <!--<p>Ou par mail, à l’adresse suivante: contact.sasu.diag.immo77 [*AT*] sfr.fr</p>-->
        <p>Ou par mail, en remplissant ce formulaire et nous vous recontacterons aussitôt que possible.</p>
				<form action="{% url 'contact:contact_view' %}" name="sentMessage" id="contactForm" method="post">
					<p class="asterisque">Seul les champs avec une * sont obligatoires (aucune donnée de ce formulaire ne sera sauvegardée).</p>
					{% csrf_token %}
					{% if form.errors %}
							{% for error in form.non_field_errors %}
									<div class="alert alert-danger">
											<strong>{{ error|escape }}</strong>
									</div>
							{% endfor %}
					{% endif %}
                    <div class="control-group caphead">
                        <div class="form-group controls">
                            <label for="phone_number">Phone Number * :</label>
                            <input type="text" id="phone_number" placeholder="0123456789" name="phone_number" autocomplete="off">
                        </div>
                    </div>
					{% for field in form %}
						{% if field.field.widget.input_type == 'checkbox' %}
							<div class="form-group">
								{{ field }}
								<label for="{{ field.id_for_label }}">{{ field.label }}</label>
								{% if form.errors %}
										{% for error in field.errors %}
												<p class="help-block text-danger">{{ error|escape }}</p>
										{% endfor %}
								{% endif %}
							</div>
						{% else %}
							<div class="control-group">
								<div class="form-group controls">
									<label for="{{ field.id_for_label }}">{{ field.label }} :</label>
									{{ field }}
									{% if form.errors %}
											{% for error in field.errors %}
													<p class="help-block text-danger">{{ error|escape }}</p>
											{% endfor %}
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
                    <div class="control-group caphead">
                        <div class="form-group controls">
                            <label for="scales">J’ai lu et accepte les conditions générales</label>
                            <input type="checkbox" id="scales" name="scales" autocomplete="false">
                        </div>
                    </div>
					<br>
					<div id="success"></div>
                    <!-- <div class="control-group">
                        <div class="form-group controls">
                            <label for="captcha">Nous devons nous assurer que vous n’êtes pas un robot :</label>
                            <div id="captcha" name="captcha" class="librecaptcha" data-sitekey="27d1876b600960226e23896f5bc4553b97d9cabf"></div>
                        </div>
                    </div> -->
                    <div class="form-group">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-8 offset-md-1 col-lg-6 offset-lg-2">
				<div id="demoMap" class="demoMap"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_script %}
<script src="{% static 'openlayers/build/ol.js' %}"></script>
<script src="{% static 'contact/js/openstreetmap_insert.js' %}"></script>
{% endblock %}
